#!/bin/sh

nr=0
guestname=vm${rn}

cpu=4
mem=2G

drives=0
cache=writeback
blkif=virtio
cleandisk=true
drivefallocate=true
drivesize=12G

telnetport=990${rn}
sshport=220${rn}

gitdir=/tmp

# Docs
# nr:              numeric identifier, 1..9
# drives:          number of disk# files (symlinks are ok, always resolved)
# cache:           blockdev cache type (default: writeback)
# blkif:           blockdev interface type (default: virtio)
# cleandisk:       recreate disk images before starting (truncate or fallocate)
# drivefallocate:  use fallocate to for the drives, or just truncate (default: fallocate)
# drivesize:       size of the drive (default: 12G, format accepted by fallocate or truncate)
# gitdir:          git dir with kernel
