#!/bin/sh

## Generic
guestname=vm0

## Machine type
cpu=4
mem=2G

## Drives

# number of disk# files (symlinks are ok, always resolved)
drives=0
# blockdev cache type (default: writeback)
cache=writeback
# blockdev interface type (default: virtio)
blkif=virtio
# recreate disk images before starting (truncate or fallocate)
cleandisk=true
# use fallocate to for the drives, or just truncate (default: fallocate)
drivefallocate=true

## Connection

# telnet port
telnetport=9901
# sshport
sshport=2201

## Kernel

# git dir with kernel
gitdir=/tmp
